/*em{
    color: red;
    font-family: fantasy;
    zoom: 200%;
    background-color: navajowhite
}

h1{
    color: mediumvioletred

}

.classA{

    font-family: cursive;
    color: magenta

}

.classA{
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    background-color: bisque
}

.a{
    color: limegreen;
    font-style: italic;
    font-size: 5rem
}

.b{
    font-size: 100px;
    color: mediumpurple
}*/


/*.outer-div{
    background-color: aquamarine;
    border: 20px dashed red;
    margin:20px;
    padding:20px;
    color: purple;
    width: 200px;
    height:400px;
    font: size 10rm
}*/

.testout{
    animation: reverse;
    font-style: oblique;
    font-weight: 600;
    font-size: 30px
}

a:hover{
    color: red;
    font-size: 20px
}
a:active{
    color: pink
}

a:visited{
    color: peachpuff
}