em{
    color: red;
    font-family: fantasy;
    zoom: 200%;
    background-color: navajowhite
}

h1{
    color: mediumvioletred

}

.classA{

    font-family: cursive;
    color: magenta

}

.classA{
    font-family: 'Courier New', Courier, monospace;
}

.a{
    color: limegreen
}

.b{
    font-size: 100px;
    color: mediumpurple
}